.zpl-input-newline {
	display: block;
}

#zpl-api-print {
	display: block;
}

#zpl-main-header {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 30% 30%;
}

#zpl-main-header > label,input {
  display: inline-block;
}

main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

main .col-prio-1 {
	flex-grow: 2;
}

/* When switching to true three column layout, the main moves to the middle not the front */
@media( min-width: 60em ) {
  main :nth-child(1 of .col-prio-2) {
    order: -1;
  }
}

main .col-prio-2 {
	flex-grow: 1;
}

main > .col {
  min-width: 20em;
  flex-basis: 20em;
}

@media( min-width: 90em ) {
	main .col {
		min-width: 30em;
    flex-basis: 30em;
	}
}

body header {
	font-family: serif;
	font-size: 150%;
	line-height: 1.5;
}

@media ( min-width: 60em ) {
	body header {
		margin-bottom: 4em;
	}
}

@keyframes fade-in {
  0% { opacity: 0; }
  99% { opacity: 0; }
  100% { opacity: 1; }
}

#zpl-api-printer {
  /* This is only a fallback element. Avoid some flicker with a competing element. Expect the local connection to be fast. There's probably a better way to do this */
  animation-name: fade-in;
  animation-duration: 0.1s;
}

#zpl-preview {
  max-height: max(50%, 30em);
  overflow: scroll;
}

#zpl-preview picture img {
  border: black 2px solid;
}
